   <!DOCTYPE html>
<html style="font-size: 16px;" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<footer th:fragment="footer" class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-e735"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">(C) HtdPlaces 2021<br>Hamiche Sophie &amp; Rouget Léo<br>
        <a th:if="${connecte != null}" th:href="@{/logout}">Déconnexion</a>
        </p>
      </div></footer>
	</body>
</html> 
    