<!DOCTYPE html>
<html style="font-size: 16px;" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<header class="u-clearfix u-header u-header" id="sec-030c" th:fragment="header">
		<div th:if="${error_connect == true}" style="background-color:#FFD2D2; color:#D8000C; padding:5px; text-align:center">Vous devez être connecté pour réserver.</div>
		<div th:if="${success_add == true}" style="background-color:#DFF2BF; color:#4F8A10; padding:5px; text-align:center">Succès! Vos données ont bien été enregistrées!</div>
		<div th:if="${success_change == true}" style="background-color:#DFF2BF; color:#4F8A10; padding:5px; text-align:center">Succès! Vos données ont bien été modifiées!</div>
		<div th:if="${success_booking == true}" style="background-color:#DFF2BF; color:#4F8A10; padding:5px; text-align:center">Succès! Votre réservation ont bien été enregistrée!</div>
		<div th:if="${success_purchase == true}" style="background-color:#DFF2BF; color:#4F8A10; padding:5px; text-align:center">Succès! Votre paiement à été validé, vous pouvez retrouver votre billet <a th:href="@{/billets}">ici</a>!</div>
			<div class="u-clearfix u-sheet u-sheet-1">
				<form th:action=@{/recherche} method="post" class="u-border-1 u-border-grey-30 u-search u-search-left u-white u-search-1">
					<button class="u-search-button" type="submit">
						<span class="u-search-icon u-spacing-10"> 
							<svg class="u-svg-link" preserveAspectRatio="xMidYMin slice"
								viewBox="0 0 56.966 56.966"> <use xlink:href="#svg-3092"></use>
								</svg> 
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
								id="svg-3092" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background: new 0 0 56.966 56.966;"
								xml:space="preserve" class="u-svg-content">
									<path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"></path>
								</svg>
						</span>
					</button>
					<input class="u-search-input" type="search" name="search" id="search">
				</form>
				<a th:href="@{/index}" class="u-image u-logo u-image-1" data-image-width="448" data-image-height="344"> 
					<img src="https://sopham.fr/jee/images/logo.png" class="u-logo-image u-logo-image-1" data-image-width="95.75">
				</a>
				<nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
					<div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
						<a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"href="#">
							 <svg>
								<use xlink:href="#menu-hamburger"></use>
							</svg> 
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<defs>
									<symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
										<rect y="1" width="16" height="2"></rect>
										<rect y="7" width="16" height="2"></rect>
										<rect y="13" width="16" height="2"></rect>
									</symbol>
								</defs>
							</svg>
						</a>
					</div>
					<div class="u-nav-container">
						<ul class="u-nav u-unstyled u-nav-1">
							<li class="u-nav-item">
								<a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" th:href="@{/index}" style="padding: 10px 20px;">Accueil</a>
								</li>
							<li class="u-nav-item">
								<a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" th:if="${connecte == null}" th:href="@{/connexion}">Se connecter</a>
								<a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" th:if="${connecte != null}" th:href="@{/reservations}">Mon compte</a>
							</li>
						</ul>
					</div>
					<div class="u-nav-container-collapse">
						<div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
							<div class="u-sidenav-overflow">
								<div class="u-menu-close"></div>
							</div>
						</div>
						<div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
					</div>
				</nav>
				<form th:action="@{/recherche}" method="post" class="u-border-1 u-border-grey-30 u-search u-search-left u-white u-search-2">
					<button class="u-search-button" type="submit">
						<span class="u-search-icon u-spacing-10"> 
							<svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56.966 56.966">
								<use xlink:href="#svg-6a74"></use></svg> 
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-6a74" x="0px"
								 y="0px" viewBox="0 0 56.966 56.966" style="enable-background: new 0 0 56.966 56.966;" xml:space="preserve" class="u-svg-content">
									<path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"></path>
								</svg>
						</span>
					</button>
					<input class="u-search-input" type="text" name="search" placeholder="Rechercher un evenement...">
				</form>
				<form th:action="@{/rechercheTri}" method="post">
				<div class="u-form-group u-form-radiobutton u-form-group-1 u-text-1">
					<div class="listeRadioButton">
						Trier par: 
						<input type="radio" name="id" id="type" value="Type d'évènement" onclick="this.form.submit();"> 
						<label class="u-label" for="radiobutton">Type d'évènement</label> 
						<input type="radio" name="id" id="place" value="Localisation" onclick="this.form.submit();"> 
						<label class="u-label" for="radiobutton">Localisation</label> 
						<input type="radio" name="id" id="date" value="Date" onclick="this.form.submit();"> 
						<label class="u-label" for="radiobutton">Date</label>
					</div>
				</div>
				</form>
			</div>
		</header>
	</body>
</html>