<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Réserver un billet</title>
    <link rel="stylesheet" href="https://sopham.fr/jee/css/header.css" media="screen">
	<link rel="stylesheet" href="https://sopham.fr/jee/css/reserver.css" media="screen">
    <script class="u-script" type="text/javascript" src="https://sopham.fr/jee/js/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="https://sopham.fr/jee/js/nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  </head>
  <body class="u-body">
  	<header th:replace="header :: header"> </header>
    <section class="u-clearfix u-section-1" id="carousel_0430">
    <h3 style="text-align:center"> Réserver une place pour "<span th:text="${event.name}"></span>"</h3>
    <h4 style="text-align:center">le <span th:text="${event.date}"></span> à <span th:text="${event.time}"></span></h4>
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center u-container-style u-image u-layout-cell u-left-cell u-size-23-lg u-size-23-xl u-size-29-md u-size-29-sm u-size-29-xs u-image-1" data-image-width="1280" data-image-height="1280">
                <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
              </div>
              <div class="u-align-left u-container-style u-grey-10 u-layout-cell u-right-cell u-size-31-md u-size-31-sm u-size-31-xs u-size-37-lg u-size-37-xl u-layout-cell-2">
                <div class="u-container-layout u-valign-top u-container-layout-2">
                  <div class="u-form u-form-1">
                    <form th:action="@{/reserver/{id}(id=${event.id})}" method="POST" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
                      <input type="hidden" id="siteId" name="siteId" value="383543">
                      <input type="hidden" id="pageId" name="pageId" value="391565">
                      <div class="u-form-group u-form-name">
                        <label for="name-3b9a" class="u-label">Nom</label>
                        <input type="text" placeholder="Nom qui sera affiché sur la réservation" id="name" name="name" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-1" required="">
                      </div>
                        <div class="u-form-group u-form-name">
                            <label for="name-3b9a" class="u-label">Prix: <span th:text="${event.price}"></span>€</label>
                        </div>
                      <div class="u-align-center u-form-group u-form-submit">
                        <input type="submit" class="u-border-2 u-border-black u-btn u-btn-rectangle u-btn-submit u-button-style u-custom-color-2 u-hover-custom-color-1 u-btn-1" value="Réserver (sans frais)"><br>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer th:replace="footer :: footer"></footer>
  </body>
</html>